# Midterm Project

> Develop classification models to predict a target variable.
> Evaluate the classification models based on the different performance metrics.

[Link to Dataset](https://www.kaggle.com/datasets/adeniranstephen/obesity-prediction-dataset)

In [1]:
# Import dataset
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
from sklearn.metrics import accuracy_score, classification_report

raw = pd.read_csv('data/obesity_dataset.csv')

raw

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21,1.62,64.00,yes,no,2.0,3.0,Sometimes,no,2.00,no,0.00,1.000,no,Public_Transportation,Normal_Weight
1,Female,21,1.52,56.00,yes,no,3.0,3.0,Sometimes,yes,3.00,yes,3.00,0.000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23,1.80,77.00,yes,no,2.0,3.0,Sometimes,no,2.00,no,2.00,1.000,Frequently,Public_Transportation,Normal_Weight
3,Male,27,1.80,87.00,no,no,3.0,3.0,Sometimes,no,2.00,no,2.00,0.000,Frequently,Walking,Overweight_Level_I
4,Male,22,1.78,89.80,no,no,2.0,1.0,Sometimes,no,2.00,no,0.00,0.000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,21,1.71,131.41,yes,yes,3.0,3.0,Sometimes,no,1.73,no,1.68,0.906,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,22,1.75,133.74,yes,yes,3.0,3.0,Sometimes,no,2.01,no,1.34,0.599,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,23,1.75,133.69,yes,yes,3.0,3.0,Sometimes,no,2.05,no,1.41,0.646,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24,1.74,133.35,yes,yes,3.0,3.0,Sometimes,no,2.85,no,1.14,0.586,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,24,1.74,133.47,yes,yes,3.0,3.0,Sometimes,no,2.86,no,1.03,0.714,Sometimes,Public_Transportation,Obesity_Type_III

### Data Cleaning

1. CALC, CAEC Column must only have the values [Never, Sometimes, Frequently, Always]
2. Standardize CAEC, CALC to numeric values
3. Change underscores to whitespace
4. Simplify Gender to M and F
5. Change yes/no fields to binary 1/0
6. Rearrange Columns
7. Set aside 10% of the data

In [2]:
# TODO: Cleanup CALC and CAEC [Transform no to Never] - John Mihael

# TODO: Cleanup CALC and CAEC [0-3 scale] - Shaun

# TODO: Change underscore values to whitespace - Cazindra

# TODO: Simplify Gender to M and F - Maria

# TODO: Transform No/Yes to 0/1 - Joyce

# TODO: Rearrange columns - Jude (Autofill)

# Randomize Dataset
raw = raw.sample(frac=1, random_state=42).reset_index(drop=True)

# Get unseen dataset
unseen = raw.iloc[1900:2110].reset_index(drop=True) # Get unseen sample
raw = raw.iloc[0:1899].reset_index(drop=True) # Cut original dataset

### Prepare Data

1. Split features and target column
2. Prepare training and testing data.

In [3]:
# Split Features and Target Column
features = raw.drop('NObeyesdad', axis=1)
target_col = raw['NObeyesdad']

features_train, features_test, target_train, target_test = train_test_split(
    features, target_col, test_size=0.2
)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
1561,Male,22,1.75,96.94,yes,yes,2.00,3.0,Sometimes,no,2.77,no,2.36,1.206,no,Public_Transportation
1121,Female,40,1.68,80.00,no,no,3.00,3.0,Sometimes,no,3.00,no,0.00,0.000,no,Automobile
901,Male,34,1.84,91.80,yes,yes,2.00,3.0,Sometimes,no,1.26,no,0.94,0.998,Sometimes,Automobile
10,Male,27,1.67,90.00,yes,yes,2.00,3.0,Sometimes,no,3.00,no,0.88,0.122,Sometimes,Automobile
402,Female,19,1.67,64.00,no,yes,3.00,3.0,Sometimes,no,2.00,no,2.00,1.000,Sometimes,Automobile
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
936,Male,25,1.79,72.00,yes,yes,2.00,3.0,Sometimes,no,2.00,no,1.00,1.000,Sometimes,Public_Transportation
1538,Male,23,1.71,82.09,yes,yes,2.72,2.6,Sometimes,no,2.91,no,1.60,0.177,Sometimes,Public_Transportation
351,Female,22,1.76,137.79,yes,yes,3.00,3.0,Sometimes,no,2.64,no,1.88,0.886,Sometimes,Public_Transportation
1424,Male,27,1.83,120.87,yes,yes,2.64,3.0,Sometimes,no,2.97,no,1.16,0.759,Sometimes,Public_Transportation
875,Female,31,1.58,68.00,yes,no,2.00,1.0,Sometimes,no,1.00,no,1.00,0.000,Sometimes,Public_Transportation

### Perform Multinomial Training

In [4]:
# TODO: Import Naive Bayes model
# model = MultinomialNB()

# model.fit(features_train, target_train)

# y_pred = model.predict(features_test)

# print("Accuracy:", accuracy_score(target_test, y_pred))